html, body {
  font-family: "Roboto", apple-system, BlinkMacSystemFont, "Segoe UI", 'Raleway', 'Noto Sans KR', "Comfortaa", 'Rajdhani', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, "Malgun Gothic";
  -webkit-font-smoothing: antialiased;color: #444; }
a { color: #444; }
a:hover, a:focus { color: inherit; }
h5 { border-bottom: 4px solid #264fa3; }
.contents-wrapper { margin-top: 57px; }
.navbar-brand { margin: 0; padding: 0; }
.navbar-brand img { height: 40px; }
#leftsidebar { max-width: 170px;top: 33px; }
.sidebar .menu .list { margin: 0px; }
ul.list li { padding-left: 10px; }
section.content { margin: 0; }
.dark { background-color: #444; }
.media-wrapper-parent { padding-right: 10px;padding-left: 10px; }
.media-wrapper.second .col { margin-bottom: 6px;padding: 0; }
.media-wrapper.second a > div { width: 92px;height:30px;border: 1px solid #aaa;
    background-size: contain;padding: 1px;background-repeat: no-repeat;background-position: center;
    filter: grayscale(1);-webkit-filter: grayscale(1); }
.navbar-brand span { font-size: 25px;font-weight: bold; }
.navbar-brand .zmdi, .footer .zmdi { font-size: 32px;margin: 6px 0; }
.ellipsis { white-space: nowrap;overflow: hidden;word-break: break-all;text-overflow: ellipsis; }
#bottomnavbar { height: 200px;text-decoration: none;text-align: right;background-color: #333;
  color: #aaa;padding: 10px 10px; }
#bottomnavbar .cert-logos img { float: right; }
.nav-tabs>.nav-item>.nav-link, .nav-tabs>.nav-item>.nav-link i.zmdi { font-size: 20px; }
table.articles td, table.socials td { padding: 0; }
.footer-copy { font-size: 17px; }
.row h3 { margin: 10px;border-bottom: 3px solid #1565c0; }
.row.second { margin: 0 -12px;padding: 0 10px; }
.footer { background-color: #f0f0f0; padding: 10px 20px; }
.footer p { margin-bottom: 0; }
.card { margin-bottom: 10px; }
.ticker-area { padding: 0; }
.carousel .carousel-inner { box-shadow: none;border: 1px solid #ddd;
  background-color: black; }
.img-thumbnail { padding: 0; border-radius: 0; }
.nav-tabs>.nav-item>.nav-link, .nav-tabs>.nav-item>.nav-link i.zmdi { font-size: 22px; }
.btn-success { background-color: #03cf5d; }
.btn-danger { background-color: #e63740; }
.theme-blush .nav-tabs .nav-link.active { border: 3px solid #e47297; }
.title-latest > a > span.badge { font-size: 0.7em;float: right;padding: 0.4em;
  height: 1.4em;margin: 6px 0; }
.sns-wrapper a > img { margin-top: 2px;vertical-align: top; }
.article-row { background-color: #ffffbf;padding: 10px 5px;
    background-image: url('/images/main/ic_spring.png');
    background-position-y: top;background-repeat-y: no-repeat;
    border-bottom: 1px solid #aaa; }
.nav-item.active { border-bottom: 4px solid #264fa3; }
.video-col { height: 100px;overflow: hidden;padding: 0; }
.video-col video { width: 100%; }
.card .body a > div { width: 90px;height: 30px;background-size: contain;
    background-repeat: no-repeat;background-position-y: center; }

@media screen and (max-width: 600px) {
  .media-first-row { margin-top: 10px; }
  .top-menu-col { padding: 0; }
  .nav-tabs>.nav-item>.nav-link, .nav-tabs>.nav-item>.nav-link i.zmdi { font-size: 19px;padding: 0; }
  .navbar-brand a { margin-left: inherit;width: 140px; }
}
